<div>
  <div class='center two-thirds'>
    <h2>Fun with docker</h2>
    <h2>hello world</h2>

    <p>
      The following commands will run the application within a docker
      container
    </p>
    <div class='left'>
      <div>
        <b>{{dockerCommand}}</b>
      </div>
      <div>
        <b>./run.sh</b>
      </div>
    </div>
  </div>
  <div class='center two-thirds'>
    <h2>Terminal Commands</h2>
    <p>
      The files containing the data are encrypted and admin protected therefore
      admin privaliges are required. This means the following commands will be
      prefixed by:
      <br>
      <b>sudo confidentalInfo.sh...</b>
    </p>
    <div class='left'>
      <div ng-repeat="cmd in cmds">
        <b>{{cmd}}</b>
      </div>
    </div>
  </div>
  <div class='center two-thirds'>
    <h2>Server Urls</h2>
    <p id='test'>
      These urls are secured with a token and are hosted by the same domain.
      Meaning they are prefixed by:
      <br>
      {{domain}}
    </p>
    <div class='left'>
      <div ng-repeat="url in urls">
        <b>{{url}} </b>
      </div>
    </div>
  </div>
</div>
