<span ng-switch='type'>
  <span ng-switch-when='array'>
    <ol start='0'>
      <li ng-repeat='elem in array' ng-click='showArray = !showArray; $event.stopPropagation()'>
        <br>
        <edit-json ng-if='showArray' path='{{path}}[{{$index}}]'></edit-json>
      </li>
    </ol>
    <button>Add</button>
  </span>
  <span ng-switch-when='object' ng-click='$event.stopPropagation()'>
    <span ng-repeat='key in keys' ng-if='!ignore(key)'>
      <label ng-if='!edit[key]'
        ng-dblclick='toggleEdit(key)'
        ng-click='$evalAsync(toggleShowObj(key))'>
        {{key}}
      </label>
      <input ng-if='edit[key]' ng-model='key'/>:
      <br>
      <span class='indent'>
        <edit-json class='indent' ng-if='showObj[key]' path='{{path}}.{{key}}'></edit-json>
        <button>Add</button>
      </span>
    </span>
  </span>
  <span class='indent' ng-switch-default>
    <input ng-model='value'/>
    <br>
  </span>
</span>
